.profile-image {
    height: 250px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600) {
    .profile-image {
        height: 60vh;
        border-radius: 50%;
     }
}