
<div class="container content"> 
    <div class="row">             

        <div class="col-md-6">      
            <nb-form-field>
                <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
                <input #user_input id="user_input" type="text" nbInput placeholder="Search GitHub Username">
            </nb-form-field>
            
            <app-search-results-list [users]="this.users"></app-search-results-list>
        </div>
      
        <div class="col-md-6">
        Second column, to test responsivness on mobile
        </div>
    </div>
  </div>